:root{
    --color-bg: #1f2937;
    --color-bttn: #3882f6;
    --color-bg2: #e5e7eb;
    --color-qt-text: #1f2937;
    --color-hdr-text: #f9faf8;
}

*{
    border: 1px solid black;
    box-sizing: border-box;
    margin:0;
    padding: 0;
    overflow:visible;
  }

body{
}

.items {
    background-color: white;
    margin: 0;
    padding: 0;
}

.items-header {
    text-align: center;
}

#section2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}

#random{
    margin: 32px;;
}

.random-pic {
    width: 128px;
    height: 128px;
    border: 2px solid var(--color-bttn);
    border-radius: 15px; 
    
    
}